<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Routes & Endpoints</title>
  <link rel="stylesheet" href="./css/reset.css">
  <link rel="stylesheet" href="./css/data.css">
</head>

<body>
  <h1>Server Routes</h1>
  <hr>
  <div class="flex-between">

    <ul style="width: 48rem">
      <% routes.forEach((route) =>{  %>
      <a href=<%= route.route %>>
        <li>
          <h3 class=<%=route.method %>><%= route.method.toUpperCase() %></h3>
          <h5><%= route.route %></h5>
        </li>
      </a>
      <%}); %>
    </ul>
  </div>
</body>

</html>