<!DOCTYPE html>
<html lang="en" data-theme=<%= theme  %>>
<!-- <head> -->
<%- include("./partials/head", { title }) -%>
<!-- </head> -->

<body>
  <!-- <header> -->
  <%- include("./components/sidebar", { title }) -%>
  <!-- </header> -->
  <main class="p-4">
    <%- include(component, props) -%>
  </main>
</body>

</html>