<li class="bg-base-200 rounded-md p-4 flex flex-col">
  <div class="flex items-center gap-4">
    <img class="rounded-full h-12 aspect-square" src="assets/rolando-supreme.png" alt="rsupreme">
    <span class="font-semibold text-lg">Rolando Supreme</span>
  </div>
  <span class="text-md">
    <%= response %>
  </span>
</li>